ul{
    /* background-color: aquamarine; */
    display: flex; 
	flex-direction: column; 
    /*  Formato de coluna nos botoes */
	/* distancia entre botões */
    gap: 20px; 
}

li{
    list-style: none;  /* sem os pontos de listagem*/
}

*{
    font-family: cursive;  /* tipo de fonete de letra*/
}

a{
    color: #6d676e;  /* cor da letra*/
    background-color: #faa916; /* cor do botao*/
    text-decoration: none;  /* remover linha abaixo da letra*/
    /* padding: 8px; */ 
    border-radius: 16px;  /* borda dos botoes */
    padding: 10px 20px !important;  /* tamanho do botao */
    /* box-shadow: 2px 2px 4px hsla(0, 18%, 93%, 0.1); */
    /* transition: all .2s; */
    font-weight: 800;  /* tamanho d agonte*/
}

a:hover{

}


.amenu22:hover{
    box-shadow: 0px 0px 26px #950202;  /* borda do campo selecionado */
    margin-top: calc(10%); /* margem no topo */
    margin-bottom: calc(10%);  /*margem embaixo*/
    margin-left: calc(10%);  /*margem na esquerda*/
    margin-right: calc(10%);  /*margem na direita*/
}


.amenu:hover{
    box-shadow: 0px 0px 26px #950202;  /* borda do campo selecionado */
    margin-top: calc(5%); /* margem no topo */
    margin-bottom: calc(5%);  /*margem embaixo*/
}

.ahead{
    margin-left: calc(3%);
}
.ahead:hover{
	  /*margem na esquerda */
    box-shadow: 0px 0px 26px #950202;  /* borda do campo selecionado */
    margin-left: calc(2%);  /*margem na esquerda*/

}

.html{
    height: calc(100%);
    width: calc(100%)
}

.menuCabecalho{   /*classe*/
    display: flex;
    align-items: center;
    gap: 26px;
    /* background-color: #1b1b1e;  cor do fundo da tela*/
	background-color: transparent;
    box-shadow: 0px 0px 36px #000000;  /* borda degrader  (desvio direita, desvio baixo, tamanho da sombra)*/
    position: fixed;  /* ira uma posicao fixa na paguina*/
    /* position: relative; */
    top: 0;
    left: 0;
    right: 0;
    padding: 8px;
    margin-top: calc(1%); /* margem no topo */
    margin-bottom: calc(2%);  /*margem embaixo*/
    margin-left: calc(1%);  /*margem na esquerda*/
    margin-right: calc(1%);  /*margem na direita*/
}

#head{
	color: #96031a;  /*cor do texto*/
	box-shadow: 0px 0px 0px #000000;  /* borda degrader  (desvio direita, desvio baixo, tamanho da sombra)*/
	background:url("./img/fundo.png");
	width: 100%;
	/* height: 50%; */
	display: flex;
    align-items: center;
	gap: 6px;
	/* justify-content: flex-start; */
	justify-content: space-between; 
	/* background-repeat: no-repeat; */
	background-size: 100% 100%;
    padding-left: 36px;
    padding-top: 5px;
    padding-right: 36px;
    padding-bottom: 2px;
    margin-top: calc(1%); /* margem no topo */
    margin-bottom: calc(2%);  /*margem embaixo*/
    margin-left: calc(1%);  /*margem na esquerda*/
    margin-right: calc(1%);  /*margem na direita*/
    overflow: hidden
}

#menu{
	color: #96031a;  /*cor do texto*/
	box-shadow: 0px 0px 36px #000000;  /* borda degrader  (desvio direita, desvio baixo, tamanho da sombra)*/
	background:url("./img/fundo.png");
	width: 85%;
	/* height: 50%; */
	display: flex;
	align-items: center;
	gap: 6px;
	justify-content: space-between; 
	background-size: 100% 100%;
    /* border: 1px solid #e6e6e6;   borda entrono do box*/ 
    /* margin: auto; */
    /* display: 0px;  borda superior e inferior */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 18px;  borda em torno */
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-top: calc(6%);  /* margem no topo */
    margin-bottom: calc(2%);  /*margem embaixo*/
    margin-left: calc(6%);  /*margem na esquerda*/
    margin-right: calc(1%);  /*margem na direita*/
    
}

#limenu{
    /* top: 0;
    left: 0;
    right: 0;
    padding: 8px; */
    margin-top: calc(10%); /* margem no topo */
   	margin-bottom: calc(10%);  /*margem embaixo */
    margin-left: calc(0%);  /*margem na esquerda */
   	margin-right: calc(0%);  /*margem na direita */
}

#home{
	/* width: 10%; */
    color: #96031a;  /*cor do texto*/
	background:url("./img/Forno.jpg");
	background-repeat: no-repeat;
    /* background-size: cover; */
	background-size: 100% 100%; 
    box-shadow: 0px 0px 36px #ffffff;  /* borda degrader  (desvio direita, desvio baixo, tamanho da sombra)*/
    /* border: 1px solid #e6e6e6;   borda entrono do box*/ 
    /* margin: auto; */
    display: 0px;  /* borda superior e inferior */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 18px;  borda em torno */
    padding-left: 36px;
    padding-top: 0px;
    padding-right: 36px;
    padding-bottom: 2px;
    width: fit-content;  /* borda auto ajustavel*/
    /* border-radius: var(--glb-fd-item-side-border-radius,4px); */ 
    margin-top: 10px;  /* margem no topo */
    margin-bottom: calc(2%);  /*margem embaixo*/
    margin-left: calc(1%);  /*margem na esquerda*/
    margin-right: calc(1%);  /*margem na direita*/
    /* height: 98%; */
    overflow: hidden
}

.pizza{
	/* margin-top: 5px; */
	/* margin-bottom: 60px; */
	width: 500px;
	height: 300px;
	padding-top: 50px;
	padding-left: 330px;
    /* position: absolute;
    left: 30%; */
}

/* animação */
.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}
.slide-controller:nth-child(5):checked ~ .slide-show .slides-list{--selected-item: 4;}
.slide-controller:nth-child(6):checked ~ .slide-show .slides-list{--selected-item: 5;}
.slide-show{overflow: hidden;}
.slides-list{
	--selected-item: 0;
	--total-items: 4;
	list-style-type: none;
	margin: 100px 0;
	padding: 0;
	position: relative;
	left: calc(var(--selected-item) * -66.6%);
	width: calc(var(--total-items) * 100%);
	height: calc(var(--total-items) * 60px);  
	transition: left 2.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	/* background-size: 100% 100% */
    position: relative;
}
  
#foot{
	width: 96%;
    color: #96031a;  /*cor do texto*/
	display: flex;
	justify-content: flex-start;
	display: calc(100%);
    align-items: center;
	gap: 26px;
	justify-content: space-between; 
    /*background-color:#1b1b1e;   cor do fundo da tela*/
	background:url("./img/fundo.png");
	/* background-repeat: no-repeat; */
	background-size: 100% 100%;
    box-shadow: 0px 0px 36px #000000;  /* borda degrader  (desvio direita, desvio baixo, tamanho da sombra)*/
    padding-left: 5px;
    padding-top: 1px;
    padding-right: 36px;
    padding-bottom: 2px;
   /* width: fit-content;  /* borda auto ajustavel*/
    /* border-radius: var(--glb-fd-item-side-border-radius,4px); */ 
    margin-top: calc(0%);  /* margem no topo */
    margin-bottom: calc(0%);  /*margem embaixo*/
    margin-left: calc(1%);  /*margem na esquerda*/
    margin-right: calc(1%);  /*margem na direita*/
}

table, td, tr, th{
	border: 1px solid #96031a;
}

#headBotoes{
    width: 70%;
}